// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Base flex
.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

// align
.center {
  justify-content: center;
  align-items: center;
}

.start {
  justify-content: flex-start;
  align-items: flex-start;
}

//Gap
.gap-16 {
  gap: 16px;
}

//Flex
.flex-1000 {
  flex: 0 0 1000px;
  max-width: 1000px;
}

.flex-900 {
  flex: 0 0 900px;
  max-width: 900px;
}

.flex-800 {
  flex: 0 0 800px;
  max-width: 800px;
}

.flex-400 {
  flex: 0 0 400px;
  max-width: 400px;
}

//Full-width
.full-width {
  width: 100%;
}

//Margin
.mt-60 {
  margin-top: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-5 {
  margin-left: 5px;
}
